@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1800px) {
}
@media screen and (max-width: 1536px) {
}
@media screen and (max-width: 1440px) {
  .header__row,.section__margin .section__title,.footer__row,.services__number--row,.services__filter,.services__filter--content,.contact__info {
    margin: 0;
  }

  .section__title {
    margin-bottom: 40px !important;
  }

  .services__filter__item--active {
    width: 204px;
  }

  .section__news--grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1400px) and (max-width: 1440px) {
  .services__filter__item--active {
    width: 244px;
  }
}
@media screen and (max-width: 1400px) {
  .services__filter__item--active {
    width: 204px;
  }
  .section__news--grid {
    grid-template-columns: repeat(2, 460px);
    justify-content: space-around;
  }
  .section__docs--grid {
    grid-template-columns: repeat(3, auto);
  }
  .header__lang--menu {
    text-align: right;
  }

  .header__menu .menu > li {
    margin: 0 5px;
  }

  .header__row {
    margin: 0;
  }

  a.version_visually {
    white-space: normal;
  }

  .header__contact {
    margin-left: 10px;
  }

  .header__right--row {
    margin-left: 15px;
  }

  .header__right--version {
    margin-bottom: 5px;
  }

  .header__menu .menu > li > a {
    font-size: 16px;
  }

  .section__banner {
    padding-top: 110px;
  }

  .advantage__item--text {
    font-size: 14px;
  }

  .section__margin .section__title {
    margin-left: 0;
    margin-right: 0;
  }

  .services__number--row {
    margin-left: 0;
    margin-right: 0;
  }

  .services__filter--content {
    margin: 0;
  }

  .services__filter__item--active {
    margin: 10px;
    width: 205px;
    height: 210px;
  }

  .footer__row {
    margin: 0;
  }

  .contact__info {
    margin-left: 0;
  }

  .section__polyclinic--content {
    padding: 60px 20px;
  }
}
@media screen and (max-width: 1366px) {

  .services__filter__item--active {
    width: 234px;
  }
  
}
@media screen and (max-width: 1300px) {
  .header__menu {
    display: none;
  }
  .header__right--click {
    display: block;
    margin-left: 45px;
  }
  .header__mobile {
    display: block;
  }

  .footer__center {
    width: auto;
  }

  .section__title--main {
    font-size: 40px;
  }

  .section__title--main:before {
    width: 70px;
    top: 30px;
  }

  .section__margin .section__title {
    padding-left: 80px;
  }

  .services__number--text {
    font-size: 18px;
  }

  .section__banner {
    height: auto;
    padding-top: 60px;
    padding-bottom: 100px;
  }

  .services__filter__item--active {
    width: 220px;
  }

  .section__polyclinic--content {
    padding: 15px;
  }

  .section__polyclinic--background,
  .section__polyclinic--background2 {
    padding: 180px 15px 0;
  }
}
@media screen and (max-width: 1200px) {
  .section__doctors--flex div.right {
    grid-template-columns: repeat(2, auto);
  }
  .departments__item--img img {
    height: 100%;
  }

  .departments__item--img {
    height: 100%;
  }

  .departments__item--title {
    font-size: 25px;
  }

  .departments__item--text {
    font-size: 14px;
  }

  .departments__item--linck a {
    font-size: 16px;
    padding: 15px 70px;
  }
  .departments__item--info {
    padding: 30px 20px;
  }
  .departments__item--text p:last-child {
    margin-bottom: 0;
  }

  .cardialogy__inside {
    width: 90%;
  }
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1024px) {
  .section__doctors--flex {
    flex-direction: column;
  }

  
.row.swiper-wrapper {
  width: 100%;
}

  .section__doctors--flex aside.left {
    min-width: 100%;
    padding: 20px;
    margin: 0;
    margin-bottom: 25px;
  }
  .section__doctors--flex aside.left ul {
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }
  .section__doctors--flex aside.left ul.active {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .section__doctors--flex aside.left div {
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 24px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .section__doctors--flex aside.left div span {
    position: absolute;
    right: 0%;
    top: 0;
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
  }
  .section__doctors--flex div.right {
    width: 100%;
  }
  .section__doctors--flex aside.left ul li {
    margin: 0;
    margin-right: 20px;
  }
  .section__docs--grid {
    grid-template-columns: repeat(2, auto);
  }
  .row.swiper-wrapper {
    flex-wrap: nowrap;
    margin: 0;
  }

  .section__polyclinic--content .flex-between .flex {
    width: 100% !important;
    height: 100%;
  }

  .consultant__form--title {
    font-size: 30px;
  }

  .contact__item--calendar div {
    margin-right: 10px;
  }

  .contact__item--text.contact__item--calendar {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__row {
    flex-wrap: wrap;
  }

  .footer__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__left--popap {
    display: inline-block;
    margin: 0 !important;
  }
  .footer__left--social {
    margin-bottom: 15px;
  }

  .footer__left--logo {
    margin: 0;
  }

  .cardialogy__inside {
    width: 100%;
  }

  .section__polyclinic--blocks {
    grid-template-columns: repeat(3, auto);
  }


  .section__branch {
    margin-top: -50px;
  }

}
@media screen and (max-width: 992px) {
  .section__news--grid {
    grid-template-columns: repeat(1, auto);
    align-items: center;
  }

  .content__body .services__filter--item {
    animation: none;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
    opacity: 1;
  }

  .services__filter__button--item {
    margin: 0 20px;
    font-size: 18px;
  }

  .section__polyclinic--background,
  .section__polyclinic--background2 {
    padding: 130px 0px 0;
  }

  .services__filter--content.swiper-wrapper {
    flex-wrap: nowrap;
    min-width: 100%;
  }
  .services__filter__item--active {
    width: auto;
    margin: 0;
  }
  .services__filter--slider {
    padding: 0 15px;
  }
  .services__filter--item {
    display: none;
  }
  .services__filter__item--active {
    display: block;
  }

  .swiper-slide.services__filter--item {
    width: 215px;
    height: 210px;
    opacity: 1;
    margin: 0;
    padding: 40px 5px 20px 5px;
  }

  .page__about--img {
    margin-bottom: 40px;
  }
  .page__about--img img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .page__about--mission {
    padding: 40px;
  }

  .cardiology__banner {
    padding-left: 50px;
  }

  .cardialogy__inside .cardialogy__content {
    width: 100%;
    padding: 40px 15px;
  }

  .cardiology__banner--info {
    padding: 0 10px 0 15px;
  }

  .cardiology__banner--content {
    max-width: 300px;
  }

  .cardialogy__content .cardialogy__spred li {
    display: flex;
    font-size: 16px;
  }

  .cardialogy__content .cardialogy__spred li::after {
    display: none;
  }

  .cardiology__banner--title {
    font-size: 24px;
  }

  .cardialogy__content .cardialogy__spred li span:first-child {
    width: 70%;
    overflow: hidden;
  }

  .cardialogy__content h2 {
    font-size: 24px;
  }

  .cardialogy__content p {
    font-size: 16px;
  }


  .block__vacancie {
    margin-bottom: 30px;
  }

  .branch__text {
    padding: 20px 25px;
  }

}
@media screen and (max-width: 768px) {
  .section__docs--grid {
    grid-template-columns: repeat(1, auto);
  }
  .modal__wrapper {
    width: 100%;
    padding: 20px;
  }
  .modal__header svg {
    right: -10px;
  }
  .section__doctors--inside .content__header {
    flex-direction: column;
    height: 100%;
    margin-bottom: 30px;
  }
  .content__body {
    width: 100%;
    padding: 20px 40px;
  }
  .content__header--left {
    width: 40%;
    margin-bottom: 25px;
  }
  .content__header--right {
    width: 100%;
    height: 100%;
  }
  .section__polyclinic--content .flex-between div {
    width: 50%;
    margin-top: 25px;
  }
  .section__polyclinic--blocks {
    grid-template-columns: repeat(2, auto);
  }

  .section__banner--title {
    font-size: 35px;
  }

  .section__banner--text {
    display: none;
  }

  .section__banner--linck {
    margin-top: 10px;
  }

  .section__advantages {
    margin-top: -50px;
  }

  .advantage__item--img img {
    width: 95px;
    height: 95px;
  }

  .section__title--main {
    font-size: 36px;
  }

  .section__title--main:before {
    width: 50px;
  }

  .section__margin .section__title {
    padding-left: 50px;
  }

  .section__title--desc {
    font-size: 16px;
    max-width: 315px;
  }

  .services__number--number {
    font-size: 64px;
  }

  .services__number--number:before {
    font-size: 96px;
  }

  .services__number--text {
    font-size: 16px;
  }

  .services__number--item {
    height: 150px;
    padding-top: 30px;
  }

  .services__filter__button--item {
    font-size: 18px;
  }

  .consultant__form--title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .form__input--item {
    margin-bottom: 15px;
  }

  .consultant__block {
    height: auto;
    padding: 25px 0;
  }
  .contact__info {
    margin-bottom: 25px;
  }

  .contact__map {
    margin: 0 -15px;
  }

  .section__contact.section__margin {
    margin-bottom: 0;
  }

  footer {
    padding: 20px 0 40px 0;
  }

  .footer__center {
    text-align: center;
    margin: 0 auto;
  }

  .footer__right {
    text-align: center;
    width: 100%;
    margin-top: 25px;
  }
  .phone__fixed svg {
    width: 90px;
  }
  .phone__fixed {
    right: 15px;
    bottom: 15px;
  }

  header .header__contact {
    display: none;
  }
  header .header__right--version {
    display: none;
  }
  header {
    padding: 20px 0;
  }
  .services__filter--button {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  body {
    padding-top: 100px;
  }
  .form__input-bott_desc {
    margin-top: 20px;
    font-size: 18px;
  }

  .form__input--row {flex-direction: column;}

  .form__input--row .form__input--item {
      margin-right: 0;
  }
  .vacancie__info--item {
    width: 100%;
  }

}
@media screen and (max-width: 568px) {
	
	.footer__right ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
	.footer__center {
    max-width: 100%;
    margin-top: 20px;
}
	.footer__right ul.menu li {
    margin-bottom: 19px;
     margin-right: 0px; 
}
  .section__doctors--flex div.right {
    grid-template-columns: repeat(1, auto);
  }
  .section__doctors--inside .content__header {
    padding: 15px;
  }
  .content__header--left {
    width: 70%;
  }
  .section__polyclinic--content .flex-between .flex {
    flex-direction: column;
    margin-right: 0;
  }
  .section__polyclinic--content .flex-between .flex strong {
    margin: 0;
    margin-top: 15px;
  }
  .section__polyclinic--content .flex-between {
    margin-bottom: 25px;
  }
  .section__polyclinic--header a {
    font-size: 28px;
  }
  .section__doctors--flex div.right .right--block h2 {
    font-size: 18px;
    line-height: 25px;
  }
  .section__doctors--flex div.right .right--block p {
    font-size: 14px;
    line-height: 18px;
  }
  .section__doctors--flex div.right .right--block a {
    font-size: 16px;
  }
  .section__title--time {
    font-size: 18px;
  }
  .section__polyclinic--content h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .section__title--main {
    font-size: 28px;
  }
  .section__polyclinic--title {
    font-size: 20px;
  }

  .section__polyclinic--flex h2 {
    margin-top: 25px;
  }

  .section__polyclinic--content p {
    font-size: 16px;
    line-height: 25px;
  }

  .section__polyclinic--content ul li {
    font-size-adjust: 16px;
    line-height: 25px;
  }

  .section__polyclinic--flex {
    flex-direction: column;
  }

  .section__polyclinic--blocks .swiper-slide.services__filter--item {
    width: 100%;
  }

  .section__polyclinic--header {
    width: 100%;
  }
  .footer__left--logo {
    order: 1;
  }
  .footer__left--linck {
    order: 2;
  }
  .footer__left--social {
    order: 3;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .footer__left {
    flex-wrap: wrap;
  }
  .services__number--row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .section__margin {
    margin-bottom: 40px;
  }
  .about__mission--text {
    font-size: 16px;
  }
  .page__about--mission {
    padding: 40px 20px;
  }
  .section__title--main {
    line-height: 1;
  }

  .cardiology__banner {
    height: 100%;
    padding: 25px 25px 0 25px;
  }

  .cardiology__banner--small {
    display: inline-block;
    margin-bottom: 25px;
  }

  .cardiology__banner--content {
    margin: 0 10px;
  }

  .section__cardiology__up {
    margin-top: 0;
  }

  .cardiology__banner--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section__news--block img {
    width: 100%;
  }
  .section__news--block a {
    font-size: 18px;
    line-height: 25px;
  }
  .section__polyclinic--content .flex-between div {
    width: 100%;
    margin-top: 25px;
  }
  .section__polyclinic--blocks {
    grid-template-columns: repeat(1, auto);
  }
  .services__number--item {
    height: 150px;
  }

  .header__logo img {
    max-width: 93px;
  }

  .header__right--row {
    margin-left: 0;
  }

  .header__right--click {
    margin-left: 15px;
  }

  .header__logo {
    margin-right: 10px;
  }

  .section__banner--linck a {
    padding: 15px 50px;
  }

  body {
    padding-top: 85px;
  }

  .section__title--desc {
    font-size: 14px;
  }

  .departments__item--linck a {
    font-size: 14px;
    padding: 15px 45px;
  }

  .departments__item--title {
    font-size: 20px;
  }


  .vacancie__item {
    padding: 20px 15px;
  }

  .vacancie__item--title {
      font-size: 18px;
  }

  .vacancie__info--item {
      font-size: 12px;
  }

  .vacancie__info--left {
      min-width: 100px;
  }

  .vacancie__item--infotitle {
      font-size: 14px;
      margin-bottom: 5px;
  }

  .vacancie__item--linck {
      margin-top: 10px;
  }

  .block__subtitle {
      font-size: 20px;
  }

  .block__vacancie--formdesc {
      font-size: 14px;
  }


  .branch__text {
    padding: 20px 15px;
    font-size: 14px;
  }

}
@media screen and (max-width: 400px) {
  .consultant__form--title {
    line-height: 1.2;
    font-size: 20px;
  }
  .section__title--main {
    font-size: 28px;
  }
  .section__title--main:before {
    top: 20px;
  }
  .footer__left {
    justify-content: center;
    flex-direction: column;
  }
  .footer__left--logo {
    margin-bottom: 15px;
  }

  .departments__item--info {
    padding: 20px;
  }
}
@media screen and (max-width: 375px) {
  .cardiology__banner {
    padding: 0;
  }
}
@media screen and (max-width: 320px) {
}
