@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"),
    url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"),
    url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Italic.woff") format("woff"),
    url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  overflow-x: hidden;
  letter-spacing: -0.03em;
  font-family: Montserrat;
}

a {
  text-decoration: none !important;
}

body * {
  outline: none;
}
.container {
  max-width: 1440px;
}
body {
  padding-top: 140px;
  background-image: url(../img/body__bg.png);
  background-size: contain;
  font-size: 16px;
}

/*----------------------------------------------*/
.pagination__block {
  margin-top: 30px;
  text-align: center;
}

.pagination__block span {
  border: 1px solid #cfe4f1;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 1;
  background: transparent;
  width: 18px;
  height: 11px;
  margin: 0 10px !important;
  transition: all 0.5s ease;
}

/*------------------header----------------------*/
header {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 40px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}

.header__logo {
  margin-right: 50px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.row.swiper-wrapper {
  width: auto;
}

.header__menu .menu > li > a {
  font-weight: 500;
  font-size: 18px;
  color: #0f1721;
  transition: all 0.5s ease;
}
.header__menu .menu > li > a:hover {
  color: #85c418;
}
.header__menu .menu > li {
  margin: 0 5px;
  padding: 10px 0;
}

.header__contact {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__contact--info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__contact--icon {
  margin-right: 10px;
}

.header__contact--phone {
  font-weight: bold;
  font-size: 18px;
  color: #0f1721 !important;
}

a.header__contact--popap {
  font-weight: 600;
  font-size: 16px;
  color: #85c418 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.header__lang--click {
  display: none;
}

.header__lang--menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.header__lang--menu ul li {
  margin-left: 15px;
}

.header__lang--menu ul li a {
  color: #0f1721;
  font-weight: normal;
  font-size: 18px;
  transition: all 0.5s ease;
}
.header__lang--menu ul li:hover a,
.header__lang--menu ul li.header__lang--active a {
  color: #85c418;
}

a.version_visually {
  font-weight: 500;
  font-size: 14px;
  color: #85c418 !important;
  line-height: 1.2;
  display: block;
  text-decoration-line: underline !important;
  white-space: nowrap;
  transition: all 0.5s ease;
  cursor: pointer;
}

.header__right--version {
  text-align: right;
  margin-bottom: 12px;
}

.header__right--row {
  margin-left: 30px;
}

a.version_visually:hover {
  text-decoration-line: none !important;
}
.header__right--click {
  display: none;
}

/*------*/
ul.sub-menu {
  position: absolute;
  list-style: none;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding: 30px 20px;
  max-width: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
}
ul.sub-menu li a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease;
}
ul.sub-menu li {
  margin-bottom: 20px;
}
ul.sub-menu li:last-child {
  margin-bottom: 0;
}
li.menu-item-has-children {
  position: relative;
}
.menu-item-has-children:hover ul.sub-menu {
  opacity: 1;
  visibility: visible;
}
ul.sub-menu li a:hover {
  color: #85c418;
}
.menu-item-has-children > a {
  position: relative;
  padding-right: 28px;
}
.menu-item-has-children > a:after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background: url(../img/menu__arrow.svg);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header__mobile {
  position: fixed;
  top: 0;
  z-index: 20;
  background: #ffffff;
  max-width: 400px;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
  transform: translateX(100%);
  transition: all 0.5s ease;
  background-image: url(../img/mobile_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__mobile--top {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.header__mobile--body .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__mobile--body {
  display: flex;
  justify-content: space-around;
  overflow-y: auto;
  height: calc(100vh - 255px);
}

.header__mobile--body .menu > li > a {
  font-weight: 500;
  font-size: 30px;
  color: #0f1721;
}

.header__mobile--body .menu > li {
  text-align: center;
  margin: 15px 0;
}

/* .menu-item-has-children > a:after {
  width: 24px;
  height: 24px;
  background-size: contain;
} */
a.click__mobile {
  display: block;
}
.mobile__menu--active {
  transform: translateX(0);
}
html.body--hidden {
  overflow: hidden;
}
.header__mobile--body ul.sub-menu {
  position: relative;
  visibility: visible;
  opacity: 1;
  box-shadow: none;
  margin: 0;
  width: auto;
  margin: 0 auto;
  max-width: 220px;
  padding: 0;
  background: transparent;
  /* display: none; */
}

.header__mobile--body ul.sub-menu a {
  font-weight: 500;
  font-size: 18px;
  color: #5b5b5b;
}

.header__mobile--body ul.sub-menu li {
  margin: 15px 0;
}
/*--------------------------banner-----------------------------*/
.section__banner {
  position: relative;
  height: 730px;
  display: flex;
  overflow: hidden;
  padding-top: 180px;
}

.section__banner--img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section__banner--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__banner--title {
  font-weight: 800;
  font-size: 72px;
  color: #85c418;
  text-transform: uppercase;
}

.section__banner--text {
  font-weight: normal;
  font-size: 18px;
  color: #0f1721;
  max-width: 600px;
  font-weight: 600;
}

.section__banner--linck {
  margin-top: 30px;
}

.section__banner--linck a {
  font-weight: normal;
  font-size: 18px;
  color: #0f1721;
  background: #ffcf55;
  border-radius: 2px;
  padding: 15px 100px;
  display: inline-block;
}
.button__shadow {
  position: relative;
}
.button__shadow:before {
  content: "";
  position: absolute;
  background: #ffcf55;
  filter: blur(16px);
  border-radius: 2px;
  height: 50%;
  width: 90%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  transition: all 1s ease;
  opacity: 1;
}
.button__shadow:hover:before {
  bottom: 0;
  opacity: 0;
}
/*-----------------------------------------------------*/
.section__margin {
  margin-bottom: 65px;
}
/*----------------advantages---------------------------*/
.section__advantages {
  margin-top: -70px;
}

.advantage__item--img {
  text-align: center;
  margin-bottom: 5px;
}

.advantage__item--info {
  text-align: center;
}

.advantage__item--title {
  font-weight: bold;
  font-size: 24px;
  color: #0f1721;
  margin-bottom: 15px;
}

.advantage__item--text {
  font-weight: normal;
  font-size: 16px;
  color: #525252;
}

/*-----------------------------------------------------*/
.section__title--main {
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #85c418 0%, #9cde2a 77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin: 0;
}

.section__title--time {
  display: inline-block;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.03em;
  margin-top: 20px;
  color: #a0a0a0;
}
.section__title {
  padding-left: 245px;
  position: relative;
}
.section__title--main:before {
  content: "";
  left: 0;
  width: 215px;
  height: 3px;
  background: rgba(133, 196, 24, 0.13);
  position: absolute;
  top: 35px;
  transform: translateY(-50%);
}
.section__title--desc {
  font-size: 18px;
  color: #0f1721;
  max-width: 415px;
  font-weight: 600;
}

.section__advantage {
  margin-top: -60px;
}

.services__number--item {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 215px;
  text-align: center;
  padding-top: 55px;
}
.services__number--row {
  margin: 0 -15px;
  margin-bottom: 50px !important;
}
.services__number--number {
  font-weight: 800;
  font-size: 72px;
  color: #85c418;
  line-height: 1;
  position: relative;
  z-index: 1;
}
.services__number--number:before {
  content: attr(data-number);
  position: absolute;
  font-weight: 800;
  font-size: 144px;
  color: #f5f5f5;
  z-index: -3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services__number--text {
  line-height: 1.2;
  color: #0f1721;
  font-weight: bold;
  font-size: 20px;
  z-index: 2;
  position: relative;
}
/*--------------------------------------------------------*/
.services__filter--button {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.services__filter {
  margin: 0 -15px;
}

.services__filter__button--item {
  font-weight: 600;
  font-size: 22px;
  color: #7b7b7b;
  margin: 0 40px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.services__filter__button--active {
  color: #85c418;
}

.services__filter--content {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.services__filter--item {
  width: 180px;
  height: 210px;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 15px;
  padding: 40px 5px 20px 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 1s;
}
.services__filter--item {
  width: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
}
.services__filter__item--active {
  width: 180px;
  height: 210px;
  opacity: 1;
  margin: 15px;
  padding: 40px 5px 20px 5px;
}

.services__filter__item--img {
  height: 66px;
  margin-bottom: 30px;
}
.services__filter__item--title {
  font-weight: bold;
  font-size: 16px;
}
.services__filter__item--linck {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  opacity: 0;
}
.section__margin .section__title {
  margin: 0 -15px;
  margin-bottom: 40px;
}

/*-----------------------------------------*/
.consultant__form--title {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #0f1721;
  margin-bottom: 40px;
}

.consultant__form form {
  max-width: 1080px;
  margin: 0 auto;
}

.form__input {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  padding: 15px 25px;
  color: #0f1721;
  height: 58px;
}

.form__input[type="submit"] {
  background: #ffcf55;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  border: 0;
}

.consultant__block {
  height: 330px;
  display: flex;
  align-items: center;
  background: url(../img/form-4.jpg);
  background-size: cover;
  position: relative;
}
.consultant__block:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.76);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.consultant__block .container {
  position: relative;
  z-index: 1;
}
.form__input-bott_desc {
  text-align: center;
  margin-top: 25px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
}

/*--------------------------------------------*/
.slider__block {
  overflow: hidden;
}

.pagination__block span.swiper-pagination-bullet-active {
  background: #85c418;
  border-color: #85c418;
  width: 30px;
}

.partners__item {
  background: #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
}

/*---------------------------------------------*/
.contact__info--item {
  display: flex;
  margin-bottom: 20px;
}
.contact__item--left {
  margin-right: 20px;
  padding-left: 10px;
  position: relative;
}
.contact__item--left:before {
  content: "";
  width: 37px;
  height: 37px;
  background: #ffcf55;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
  left: 0;
}
.contact__item--text p {
  margin: 0;
}
.contact__item--title {
  color: #85c418;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.contact__item--text {
  font-weight: normal;
  font-size: 16px;
  color: #0f1721;
}
.contact__info--item:last-child {
  margin-bottom: 0;
}
.contact__item--text a {
  color: initial;
}
.contact__map img {
  max-width: 100%;
}
.contact__item--calendar {
  display: flex;
  align-items: center;
  height: 100%;
}
.contact__item--calendar div {
  margin-right: 20px;
}
.contact__item--calendar div:last-child {
  margin-right: 0;
}
.calendar__red {
  color: #da3f3f;
}
.contact__info {
  margin-left: -15px;
}

.li.share__more__item {
  cursor: pointer;
}

/*-------------------footer---------------------*/
footer {
  background: #fcfcfc;
  padding: 65px 0 50px 0;
}
.footer__center {
  max-width: 100%;
 
	margin-top: 30px;
}
.footer__row {
  margin: 0 -15px;
  display: flex;
  justify-content: space-between;
}
.footer__left {
  display: flex;
}

.footer__left--flex {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.footer__left--social {
  display: flex;
  margin-bottom: 35px;
}

.footer__left--logo {
  margin-bottom: 35px;
}

.social__item {
  margin-right: 25px;
}

.social__item:last-child {
  margin-right: 0;
}
.footer__left--linck {
  background: #85c418;
  border-radius: 2px;
  font-weight: normal;
  font-size: 14px;
  padding: 15px 25px;
  cursor: pointer;
}
.footer__left--popap {
  cursor: pointer;
  color: #ffffff !important;
}

.footer__right ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
	display:flex;
}

.footer__right ul.menu li a {
  font-weight: bold;
  font-size: 16px;
  color: #939393;
}

.footer__right ul.menu li {
  margin-bottom: 19px;
	margin-right:19px
}

.footer__right ul.menu li:last-child {
  margin-bottom: 0;
}

.footer__center--title {
  font-weight: bold;
  font-size: 16px;
  color: #939393;
  margin-bottom: 15px;
}

.footer__center ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__center ul.menu li a {
  font-weight: normal;
  font-size: 14px;
  color: #cacaca;
}

.footer__center ul.menu li {
  margin-bottom: 10px;
}

.footer__center ul.menu li:last-child {
  margin-bottom: 0;
}

.phone__fixed {
  cursor: pointer;
  position: fixed;
  right: 50px;
  z-index: 5;
  bottom: 50px;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
}
@keyframes circle-fill-anim {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.services__filter--content.swiper-wrapper {
  width: auto;
}

/*-------------------about-------------------------*/
.page__banner--bread {
  margin: 35px 0;
}

ul.bread-crambs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 25px;
  background: #fafafa;
}

ul.bread-crambs li {
  margin-right: 40px;
  font-weight: normal;
  font-size: 14px;
}

ul.bread-crambs li a {
  color: #bebebe;
  text-decoration: none;
}

ul.bread-crambs li span {
  color: #85c418;
}

.page__blocktext {
  font-size: 18px;
}

.page__blocktext p {
  margin-bottom: 30px;
}

.page__blocktext ul {
  padding-left: 25px;
}

.page__about--img {
  position: relative;
  height: 100%;
}

.page__about--img img {
  position: absolute;
  height: 100%;
  width: calc(100vw / 2);
  object-fit: cover;
}
.page__about--img-2 img {
 object-fit:contain;
  width: 100%;
 
}

.page__about--mission {
  background: #85c418;
  border-radius: 2px;
  padding: 40px 120px;
  color: #fff;
}
.about__mission--title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}
.about__mission--text {
  font-size: 18px;
}

.certificate__item a {
  display: block;
  position: relative;
}

.certificate__item {
  position: relative;
}

.certificate__item a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(133, 196, 24, 0.7),
    rgba(133, 196, 24, 0.7)
  );
  opacity: 0;
  transition: all 0.5s ease;
}

.certificate__item img {
  width: 100%;
}

.certificate__item:hover a:before,
.certificate__item:hover a:after {
  opacity: 1;
}

.certificate__item a:after {
  content: "";
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/eye__icon.svg);
  opacity: 0;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*-----------------------------*/
.departments__item {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 25px;
}

.departments__item:last-child {
  margin-bottom: 0;
}

.departments__item--img img {
  width: 100%;
  height: 390px;
}

.departments__item--info {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.departments__item--title {
  font-weight: bold;
  font-size: 36px;
  color: #85c418;
  margin-bottom: 5px;
  line-height: 1.2;
}

.departments__item--text {
  font-weight: normal;
  font-size: 16px;
  color: #0f1721;
}

.departments__item--linck a {
  display: inline-block;
  color: #0f1721;
  font-weight: normal;
  font-size: 18px;
  background: #ffcf55;
  border-radius: 2px;
  padding: 15px 100px;
  text-decoration: none;
}

.departments__item--linck {
  margin-top: 20px;
}

.cardiology__banner {
  position: relative;
  height: 550px;
  display: flex;
  overflow: hidden;
  padding-top: 110px;
  padding-left: 120px;
}

.cardiology__banner--content {
  width: 322px;
  margin-left: 30px;
}

.cardiology__banner--img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.cardiology__banner--info {
  display: flex;
  width: max-content;
  height: 280px;
	/*
  background-color: #fff;
	*/
  padding: 0 15px 0 30px;
}

.cardiology__avatar img {
  height: 100%;
  object-fit: cover;
}

.cardiology__banner--title {
  font-weight: bold;
  font-size: 31px;
  color: #85c418;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 25px;
}

.section__cardiology__up {
  margin-top: -55px;
}

.cardiology__banner--text {
  font-weight: normal;
  font-size: 18px;
  color: #0f1721;
  margin-bottom: 25px;
  line-height: 25px;
}

.cardiology__banner--small {
  font-weight: normal;
  font-size: 14px;
  color: #0f1721;
  line-height: 20px;
}

.cardialogy__inside {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.cardialogy__inside:nth-child(2) {
  background: #ffcf55;
}

.cardialogy__inside .cardialogy__content {
  width: 950px;
  padding: 60px 0 50px 0;
  margin: 0 auto;
}

.cardialogy__inside .cardiology__price {
  width: 950px;
  padding: 60px 0 50px 0;
  margin: 0 auto;
}

.cardialogy__content h2 {
  font-weight: bold;
  font-size: 31px;
  color: #0f1721;
  line-height: 25px;
}

.cardialogy__content p {
  font-weight: normal;
  font-size: 18px;
  color: #0f1721;
  line-height: 25px;
}

.cardialogy__content strong {
  font-size: 18px;
  color: #0f1721;
  line-height: 25px;
}
.cardialogy__content ul {
  padding: 0;
  padding-left: 20px;
}
.cardialogy__content .cardialogy__spred {
  margin-top: 25px;
  padding: 0;
  list-style-type: none;
}

.cardialogy__content .cardialogy__spred li {
  clear: both;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}

.cardialogy__content .cardialogy__spred li span:first-child {
  float: left;
  padding: 0 0.4em 0 0;
  margin: 0;
  font-weight: normal;
}

.cardialogy__content .cardialogy__spred li span + span {
  float: right;
  padding: 0 0 0 0.4em;
  margin: 0;
  font-weight: bold;
}

.cardialogy__content .cardialogy__spred li::after {
  content: "";
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
}

.section__docs--grid {
  display: grid;
  grid-template-columns: repeat(4, 340px);
  grid-auto-columns: 365px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.section__docs--grid .block {
  cursor: pointer;
  background-color: #fff;
  height: 100%;
  max-height: 365px;
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s linear;
  color: #000000;
}

.section__docs--grid .block:hover {
  background-color: #85c418;
  color: #fff;
}

.block:hover svg path.first {
  fill: #fff;
}

.block:hover svg path.second {
  fill: #f3f3f3;
}

.block:hover svg path.three {
  fill: #85c418;
}

.section__docs--grid .block p {
  margin-top: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.section__polyclinic--background {
  position: relative;
  height: 100%;
  padding: 0 120px;
  padding-top: 50px;
}
.section__polyclinic--background2 {
  position: relative;
  height: 100%;
  padding: 0 120px;
  padding-top: 50px;
}

.section__polyclinic--img {
  position: absolute;
  height: 620px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section__polyclinic--header {
  width: 580px;
  padding: 18px 40px 35px 25px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  margin-bottom: 25px;
}
.modal__fixed {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eee7e769;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 11;
}

.modal__fixed--active {
  display: flex;
}

.modal__wrapper {
  z-index: 12;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 46px;
  justify-content: center;
  background-color: #fff;
}

.modal__wrapper .form__input {
  margin-bottom: 15px;
}
.modal__header {
  position: relative;
  width: 100%;
  margin-bottom: 23px;
}

.modal__header h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 42px;
  letter-spacing: -0.03em;
  margin: 0;
  text-align: center;
}
.modal__header svg {
  position: absolute;
  right: -30px;
  top: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.section__polyclinic--header a {
  text-decoration: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 27px;
  color: #85c418;
}
.section__polyclinic--title {
  font-style: normal;
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  line-height: 27px;
  color: #0f1721;
}
.section__polyclinic--title span {
  text-transform: lowercase;
}
.section__polyclinic--flex {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__polyclinic--flex h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #85c418;
}

.section__polyclinic--flex p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #0f1721;
}

.section__polyclinic--inside {
  display: flex;
  align-items: center;
}

.section__polyclinic--content {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 60px 30px;
}

.section__polyclinic--content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.section__polyclinic--content p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.section__polyclinic--content ul {
  padding: 0;
  padding-left: 20px;
}

.section__polyclinic--content ul li {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.section__polyclinic--content .flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__polyclinic--content .flex-between div {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section__polyclinic--content .flex-between .flex {
  flex-direction: row;
  margin-right: 20px;
}
.section__polyclinic--content .flex-between .flex strong {
  display: inline-block;
  margin-left: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.section__polyclinic--content .flex-between .flex:not(:last-child) {
  width: 47%;
}

.section__polyclinic--content .flex-between div img {
  width: 100px;
  height: 100px;
}
.section__polyclinic--content .flex-between div strong {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.section__polyclinic--blocks {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-columns: 210px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}
.section__polyclinic--blocks .services__filter__item--active {
  margin: 0;
}

.section__news--grid {
  display: grid;
  grid-template-columns: repeat(3, 460px);
  grid-auto-columns: 470px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.section__news--block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: 0.4s linear;
}

.section__news--block:hover p {
  color: #85c418;
}

.section__news--block img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.section__news--block time {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9e9e9e;
  margin-bottom: 10px;
}

.section__news--block p {
  letter-spacing: -0.03em;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #0f1721;
}

.pagination-row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.pagination-row ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pagination-row ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  padding: 5px 12px;
  background-color: #535353;
  border-radius: 2px;
  margin-right: 8px;
}

.pagination-row ul li.active-pagination {
  background-color: #85c418;
}

.pagination-row ul li a {
  color: #fff;
}

.section__news--inside {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
}

.section__news--inside-banner-img img {
  width: 100%;
  
  object-fit: cover;
}

.section__news--inside div {
  padding: 30px 40px;
}

.section__news--inside p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 0;
}

.section__news--inside .section__news--links {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding: 0;
  list-style-type: none;
}

.section__news--inside .section__news--links li {
  cursor: pointer;
}

.section__doctors--flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.section__doctors--flex aside.left div {
  display: none;
}

.section__doctors--flex aside.left {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  min-width: 300px;
  padding: 40px 50px;
  margin-right: 30px;
}

.section__doctors--flex aside.left ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section__doctors--flex aside.left ul li {
  transition: 1s linear;
  margin-bottom: 15px;
}
.section__doctors--flex aside.left ul li:hover a {
  color: #85c418;
}
.section__doctors--flex aside.left ul li a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #0f1721;
  letter-spacing: -0.03em;
}
.section__doctors--flex aside.left ul li.current-menu-item a {
  color: #85c418;
}

.section__doctors--flex div.right {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-auto-rows: 580px;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

.section__doctors--flex div.right .right--block .background {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.section__doctors--flex div.right .right--block .background img {
  width: 188px;
  height: 280px;
  object-fit: cover;
}

.section__doctors--flex div.right .right--block {
  background-color: #e5e5e50d;
  display: flex;
  flex-direction: column;
}

.section__doctors--flex div.right .right--block h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  text-align: center;
  margin: 35px 0 20px;
	height:58px;
}

.section__doctors--flex div.right .right--block p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #747474;
	height:100px;
}
.section__doctors--flex div.right .right--block a {
  display: inline-block;
 
  color: #0f1721;
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  background: #ffcf55;
  border-radius: 2px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.section__doctors--flex div.right .right--block a:hover {
  background-color: #9cde2a;
}

.section__doctors--inside .content__header {
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background-color: #fff;
}

.content__header--left {
  width: 20%;
  background-color: #fff;
}
.content__header--left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__header--right {
  height: 270px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__header--right h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #85c418;
  margin-bottom: 20px;
}
.content__header--right p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #0f1721;
}

.content__header--right strong,
b {
  font-weight: bold;
}

.content__header--right b {
  display: inline-block;
  margin-right: 25px;
}

.content__header--right a {
  display: inline-block;
  font-style: normal;
  margin-top: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding: 15px 25px;
  text-align: center;
  background-color: #85c418;
}

.content__body {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 40px 120px;
}
.content__body .services__filter {
  margin: 0;
}

.content__body--btns {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.content__body--btns button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #d8d8d8;
  background-color: transparent;
  border: none;
  outline: none;
}
.content__body--btns button.active {
  color: #85c418;
}

.content__body .services__filter__button--item:first-child {
  margin-left: 0;
}

.content__body .services__filter--content.swiper-wrapper {
  margin: 0;
}

.content__body .services__filter--item {
  width: 100%;
  position: absolute;
  height: 0;
  margin: 0;
  animation: animations 1s linear;
  box-shadow: none;
  text-align: left;
}
.content__body .services__filter--button {
  justify-content: flex-start;
}

.content__body .services__filter__item--active {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: left;
}

@keyframes animations {
  0% {
    top: 0;
  }

  50% {
    top: -15px;
  }

  100% {
    top: -100000px;
  }
}
.section__polyclinic--flex img{
	margin-right:10px
}
.foto_otd{
	max-width:100%;
	height:149px
}
.swiper-slide{
	text-align:center;
}




/*---------------------------------*/

.block__subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.block__vacancie--formdesc {
  font-weight: normal;
  font-size: 18px;
}

.block__vacancie--formdesc a {
  color: #85C418;
}

.vacancie__form {
  margin-top: 15px;
}

.form__input--item {
  margin-bottom: 15px;
}

.vacancie__form .form__input {
  background: #F6F6F6;
}

.vacancie__form  textarea.form__input {
  height: 190px;
}

.vacancie__form input.form__input[type="submit"] {
  background: #85C418;
  color: #FFFFFF;
}

.vacancie__form  label {
  width: 100%;
  background: #F6F6F6;
  padding: 5px 20px;
  margin-bottom: 15px;
}

.vacancie__form label span.file-text {
  color: #474747;
  font-size: 16px;
}

.vacancie__form label span.file-icon {
  margin-right: 30px;
}


.form__input--row {
  display: flex;
}

.form__input--row .form__input--item {
  margin-right: 5px;
}

.form__input--row .form__input--item:last-child {
  margin-right: 0;
}

/*------------------------------------*/
.vacancie__item {
  background: #FFFFFF;
  box-shadow: 0px 8px 10px rgb(0 0 0 / 5%);
  padding: 20px 30px 30px 30px;
  margin-bottom: 5px;
}

.vacancie__item--data {
  font-size: 13px;
  color: #9E9E9E;
  line-height: 1.2;
}

.vacancie__item--title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
}
.vacancie__item hr {
  margin-top: 15px;
  margin-bottom: 10px;
}

.vacancie__item--infotitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.vacancie__info--item {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  width: 50%;
}

.vacancie__info--row {
  display: flex;
  flex-wrap: wrap;
}

.vacancie__info--left {
  color: #A6A6A6;
  min-width: 120px;
}

.vacancie__item--linck {
  margin-top: 20px;
}

.vacancie__item--linck a {
  font-weight: 600;
  font-size: 14px;
  color: #85C418;
  text-decoration: underline !important;
}


.branch__text {
  background: #FFFFFF;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  padding: 35px 70px;
}

.section__branch {
  margin-top: -100px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}


/*----------------------------------------*/

.wp-pagenavi {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.wp-pagenavi span,
.wp-pagenavi a {
  font-weight: 500;
  font-size: 14px;
  color: #000;
  padding: 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 0 5px;
  line-height: 1;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.wp-pagenavi span, .wp-pagenavi a:hover {
  background: #ffcf55;
}

.wp-pagenavi a.first,
.wp-pagenavi a.prev,
.wp-pagenavi a.last,
.wp-pagenavi a.next {
  width: auto;
}

div#march {
    max-width: 705px;
	max-height:335px;
}

.md-modal button.md-close {
    position: absolute;
    top: 30px;
    right: 60px;
    z-index: 1;
    padding: 0;
    border: 0;
    background: transparent;
}
div#march button.md-close {
    right: 2%;
    bottom: 75%;
    display: flex;
    width: 58px;
    height: 58px;
    top: auto;
    margin-bottom: 10px;
}
#march .md-content {
    padding: 0 !important;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
}
#march img {
    max-width: 100%;
}
.modal-img-logo{
	position: absolute;
    top: 49px;
    left: 41px;
    z-index: 40;
}
.modal-img-arrow{
position: absolute;
    bottom: 48px;
    left: 45px;
    z-index: 40;
}
.modal-news-text{
	position:absolute;
	top:137px;
	left:45px;
	font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 1.2;
display: flex;
align-items: flex-end;

max-width:500px;
color: #FFFFFF;
}
.modal-fon{
	position:relative;
	background:#85C418;
	height:335px;
}
.modal-img-pic{
	position: absolute;
    right:0;
    z-index: 40;
}
